{% extends "base.html" %}


	{% block content %}
		<div class ="row">
			{% block main %}
			{% endblock %}
		
			{% block sidebar %}
				<div class="col-xs-3">
				
					<!-- include login -->
					<div class="row">
						<div class="col-xs-1">
						</div>
						<div class ="col-xs-10">
							<div style="border-style: double hidden; border-radius:5px; text-align: center;">
							{% if request.user.is_authenticated %}	
								<h6> welcome {{ request.user.username }}</h6>
								<a href="{% url 'my_logout'%}?next={{request.path}}">logout</a>
								
							{% else %}
								<h5><a href="{% url 'my_login' %}?next={{request.path}}"> Login</a></h5>
								<h5> <a href="{% url 'my_register' %}?next={% url 'index'%}"> register</a> </h5>
							{% endif %}
							</div>
						</div>
						<div class="col-xs-1">
						</div>
					</div>
					<!----------------------->
				
					<h4>all shows</h4>
					<ul>
						{% for show in shows %}
							<li>
								<a href = "{% url 'show_detail' show.id %}">
								{{ show.english_title|title }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endblock sidebar %}
		
		</div>
	{% endblock content %}


