html{
    height:100%;
}

meter::-webkit-meter-bar {
  background: transparent;
  border-style: inset;
}

body{
	background-color: lime;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}

#accordion .ui-accordion-content{
	background-color: #40d600;
}

#accordion .ui-accordion-header{
	background-color: #4ccedb;
}

#accordion .ui-accordion-header.ui-state-active{
	background-color: #0099ff;
}

#jt_head{
	background-color: transparent;
	background-image: url("../images/c2.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#search_results{
	position: absolute;
	background-color: lightgray;
	z-index: 100;
}

#search_results > .search_item{
	background-color: white;
	border-style: solid;
	border-width: thin;
	margin: 1px 0px
}
.newlist{
	float: center;
}
.showlist-options{
	float:right; 
	padding:  0px 2px;
}

.showlist-title{
	border-style: dashed;
	padding: 0px 5px;
}
.btn_tag{
	 background:none;
     border:none;
     padding:0;
     font: inherit;
}

.tag_box{
	display: inline-block;
	border-style: groove;
	border-width: thin;
	background-color:lime;
	color:black;
	padding: 2px;
}

.genre_box{
	display: inline-block;
	border-style: groove;
	border-width: thin;
	background-color:yellow;
	color:black;
	padding: 2px;
}

.row{
	background-color: lightgray;
	width: 100%;
}
/* ---------------------------------------*/
.rating_box{
	border-style: groove;
	border-width: 2px;
	width: 100%;
	margin:10px 0px;

}
.bg_lightred{
	background-color: lightsalmon;
}
.bg_lightpurple{
	background-color:plum;
}

.bg_lightblue{
	background-color:lightblue;
}

.low_padding{
	padding: 2px 2px;
}
/* vvvvvvvvvvvvvv for meter vvvvvvvvvv*/

#meter_item
{
	width:100%;
}

#scale
{
	display: table;
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 2px 0px 10px 0px;
	border: 0px 0px 0px 0px;
	text-align: center;
}

#scale li
{
	width: 10%;
	display: table-cell;
	white-space: nowrap;
}


/* ---------------------------------------*/
