{% extends "wsidebar.html" %}

{% block main %}
	<div class="col-xs-9">
	<h2>Hello, and welcome to the Anime Advisor</h2>
	<p>
	 this site is here to help you find that new show while avoiding some of the stereotypical pit falls... filled with those notorious testicles. 
	unless you're into that, the Anime Advisor will let you search for whatever range of show you are looking for.
	</p>
	<p>
		as you may know, the term anime encompasses is a very wide range of shows. one might argue that it is similar to saying movies and there is a world of 
		difference between <a href = "http://www.imdb.com/title/tt0114369/?ref_=nv_sr_1">Se7en</a> and <a href="http://www.imdb.com/title/tt0472033/?ref_=fn_al_tt_1">9</a>.
	</p>
	<p>
	the main feature of this site is the rating system used on each show and the ability to search for different ranges on that system.
	if you are looking for a show that you want to start a younger sibling on you can filter out those shows with extreme nudity of violence.
	maybe you have a friend that is still sceptical of the anime medium. you can filter out the tags with overplayed tropes.
	If you are just looking for a show for yourself you can look up shows with a particular genre or any combonation of the above.
	</p>
	<p>
	with all of that being said enjoy the hunt for new shows and tell a friend about the site
	</p>
	<hr>

	<h3>LAST 50 SHOWS</h3>
	<ul>
		{% for show in shows|dictsort:"modified_date" %}
			{% if forloop.counter0 < 50%}
			<li>
				<a href = "{% url 'show_detail' show.id %}">
					{{ show.english_title|title }}
				</a>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
{% endblock %}



