{% extends "base.html" %}

{% load staticfiles %}
{% load rating_tags %}

{% block content %}

 <div class = "row">
			<div class="col-sm-1">
			</div>
			
			
			<div class ="col-sm-10">
				<form id="search_form" action = "/search_results/" method = "POST">{% csrf_token %}
				<div id = "accordion">
					<h3><strong>rating parameters</strong></h3>
					<div>

							<div id="sex_ratings" class = "rating_box bg_lightpurple">
							
							  {%create_search_slider_html "nudity" choices.nudity %}
							  
							  {%create_search_slider_html "intimacy" choices.intimacy %}
							  
							  {%create_search_slider_html "intent" choices.intent %}

							  {%create_search_slider_html "fan_service" choices.fan_service %}
							</div>
							
							<div id="violence_ratings" class ="rating_box bg_lightred">
							
								{%create_search_slider_html "violence" choices.violence %}
								
								{%create_search_slider_html "gore" choices.gore %}
								
								{%create_search_slider_html "morbid_images" choices.morbid %}
								
							</div>
							
							<div id="other_ratings" class = "rating_box bg_lightblue">
							
								{%create_search_slider_html "emotions" choices.feels %}
								
								{%create_search_slider_html "profanity" choices.profanity %}
								
								{%create_search_slider_html "moral_ambiguity" choices.moral_a %}
								
							</div>

					</div>
					
					<h3><strong>tag parameters</strong></h3>
					<div>
						{% for tag in tags %}
							<input type="checkbox" name="cb_tags" value="{{tag.id}}">{{tag.tag_name}}</input>
						{% endfor %}
						<hr>
						<input id="tag_checker" type="button" class="btn-primary check_tgon" value="check all">
						<input id="tag_checker" type="button" class="btn-primary check_tgoff" value="uncheck all">
					</div>
					
					<h3><strong>genre parameters</strong></h3>
					<div>
						{% for genre in genres %}
							<input type="checkbox" name="cb_genres" value="{{genre.id}}">{{genre.name}}</input>
						{% endfor %}
						<hr>
						<input id="genre_checker" type="button" class="btn-primary check_tgon" value="check all">
						<input id="genre_checker" type="button" class="btn-primary check_tgoff" value="uncheck all">
					</div>
				</div>
				<input class = "btn-primary btn-lg" type = "submit" value = "Search">
				</form>
			</div>	
			
			<div class="col-sm-1">
			</div>
			
							
		</div>
		<div class = "row">
			<aside id="search_results"></aside>
		</div>
 
 
 <script>
 $(function(){
	$(".check_tgon").click(function(){
		$(this).siblings("input[type=checkbox]").prop("checked",true);
	});
 });
 
  $(function(){
	$(".check_tgoff").click(function(){
		$(this).siblings("input[type=checkbox]").prop("checked",false);
	});
 });
 
 $(function(){
	$("#accordion").accordion({
		heightStyle: "content",
		collapsible: true,
		active: false
	});
 });
 
  $( function() {
  
		var rangeSlider = function(name,passed_max){
			var sel_max = $( "#"+name+"_sel_high" );
			var sel_min = $( "#"+name+"_sel_low"  );
			
			var curr_slider = $( "<div id='"+name+"_slider'></div>" ).insertAfter( sel_max ).slider({
				min: 0,
				max: passed_max,
				range: true,
				values: [0, sel_max[ 0 ].selectedIndex],
				slide: function( event, ui ) {
					if (ui.handle.nextSibling) {
						sel_min[ 0 ].selectedIndex = ui.value;
						sel_min.trigger("change");
					} else {
						sel_max[ 0 ].selectedIndex = ui.value;
						sel_max.trigger("change");
					}		
				}
			});
			
			sel_min.on( "change", function() {	
				curr_slider.slider( "values",0, this.selectedIndex );
				sel_max.find("option").each(function(){
					if(parseInt($(this).val()) < parseInt(sel_min.val())){
						$(this).prop("disabled", true);
					}else {
						$(this).prop("disabled", false);
					}
				})
			});	
			
			sel_max.on( "change", function() {	
				curr_slider.slider( "values",1, this.selectedIndex );
				sel_min.find("option").each(function(){
					if(parseInt($(this).val()) > parseInt(sel_max.val())){
						$(this).prop("disabled", true);
					}else {
						$(this).prop("disabled", false);
					};
				});
			});	
		};
  
		var nudity_range = new rangeSlider("nudity", {% get_max choices.nudity%});
		var intimacy_range = new rangeSlider("intimacy", {% get_max choices.intimacy%});
		var intent_range = new rangeSlider("intent", {% get_max choices.intent%});
		var fan_service_range = new rangeSlider("fan_service", {% get_max choices.fan_service%});
		
		var violence_range = new rangeSlider("violence", {% get_max choices.violence%});
		var gore_range = new rangeSlider("gore", {% get_max choices.gore%});
		var morbid_images_range = new rangeSlider("morbid_images", {% get_max choices.morbid%});
		
		var emotions_range = new rangeSlider("emotions", {% get_max choices.feels%});
		var profanity_range = new rangeSlider("profanity", {% get_max choices.profanity%});
		var moral_ambiguity_range = new rangeSlider("moral_ambiguity", {% get_max choices.moral_a%});
		
		
	});
    
 </script>
{% endblock %}