{% extends "wsidebar.html" %}

{% load rating_tags %}

{%block seo_head%}
<title>{{show.english_title|title}} | Anime Advisor</title>
		<meta name="description" content="Details about {{show.english_title|title}} including: ratings, description and related tags/genres.">
		<meta name="keywords" content="{{show.english_title|title}} anime,rating,recommendations">
{%endblock%}

{% block main %}
<div class="col-xs-9">
	<div class = "row">
		<div class = "col-sm-3" >
			<img src = '{{ show.image.url }}'  width = "100%" align = "left">
			<a href="{% url 'all_shows' %}">Back to shows</a>     <!-------------------back to all shows------------------>
			{% if user.is_authenticated %}
			<div id="frm_list_add">
				<form method="POST" onsubmit =  "return checkNewList()" action="{%url 'add_show'%}">{% csrf_token %}
					<select id="slt_lists" name="lists">
						<option value="new list">new list</option>
						{%for list in showlists%}
							<option = value="{{list.title}}">{{list.title}}</option>
						{%endfor%}
					</select>
					<br>
					<input type = "submit" value ="&#10010; add to list">
					<input type = "hidden" name="added_show_id" value = "{{show.id}}">
				</form>
			</div>
			<div id ="new_list" class="hidden">
				<form method="POST" action="{%url 'create_list'%}">{% csrf_token %}
					<input type="text" name="title" placeholder="enter title">
					<input type ="submit" value="create" >
					<input type ="button" value="cancel" onclick="return hideNewList()">
					<input type ="hidden" name="added_show_id" value = "{{show.id}}">
				</form>
			</div>
			{% endif%}
		</div>
		<div class = "col-sm-9">
			<h3>{{ show.english_title|capfirst }}: </h3>
			<p>{{show.description}}</p>
			
			{%if show.episodes%}
			<h3> episodes: {{show.total_episodes}}</h3>
			<h3>ongoing:
				{%if show.ongoing %}
				yes
				{%else%}
				no
				{% endif %}
			</h3>
			{%endif%}
		</div>
	</div>

	{%if watch_options%}
	<div style="border-style: solid hidden; border-radius:5px;">
		<div class = "row" style = "margin:0;">
			<div class = "col-xs-3">
				<h4><u>service</u></h4>
			</div>
			<div class = "col-xs-3">
				<h4><u>free</u></h4>
			</div>
			<div class = "col-xs-6">
				<h4><u>english subtitles/dubbing</h4></u>
			</div>
		</div>
	{% endif %}
	{%for option in watch_options%}
		<div class = "row" style = "margin:0; border-bottom: {%if forloop.last %} hidden {%else%} dashed{%endif%};">
			<div class = "col-xs-3">
				<a href = "{{option.link.home_page}}" target="_blank"><h4>{{option.link}}</h4></a>
			</div>
			<div class = "col-xs-3">
				<h4>
			{%if option.free%}
				free
			{% else %}
				subscription fee
			{%endif%}
				</h4>
			</div>
			<div class = "col-xs-6">
				<h4>{{option.get_audio_display}}</h4>
			</div>
		</div>
	{% endfor %}
	{%if watch_options%}
	</div>
	{%endif%}
	
	<div class="row" >
	<div class = "col-sm-12">

		<table style="border-collapse: separate;">
		<tr>
			<th><h3>runtime:</h3></th>
			<td valign="bottom"><h4>
			{% if show.length == None %}
				N/A
			{% else %}
				{{show.length}} min
			{% endif %}
			</h4></td>
		</tr>

		<tr>
			<th><h3>tags:</h3></th>
		<form id="search_form" action = "/search_results/" method = "POST">{% csrf_token %}

			{% for tag in show.tags.all%}
				<th style="padding:0px 5px;"><div class="tag_box" > <a href = "{%url 'tag_detail' tag.slug%}">{{tag}}</a></div></th>
			{% endfor %}
		</tr>

		<tr>
			<th><h3>genres:</h3></th>
			{% for genre in show.genres.all%}
				<th style="padding:0px 5px;"><div class="genre_box" ><a href = "{%url 'genre_detail' genre.slug%}">{{genre}}</a> </div></th>
			{% endfor %}
			
		</form>
		</tr>
		</table>

		<h3>Series Viewing Order</h3>

		<div style="display: flex;">
			{% display_series show.series show.id%}
		</div>
		<br>

	</div>
	</div>

	<div class = "row">

		<div class ="col-sm-12">
			<div class = "show_param">
				<div id="sex_ratings" class = "rating_box bg_lightpurple">
	<!--------------------------------------nudity rating------------------------------------------------->
					<h3>nudity : {{show.get_nudity_display}}</h3>
					<div style = "width: 100%">
						{% display_rating show.nudity show.n_choices%}
					</div>
	<!--------------------------------------fan service rating------------------------------------------------------>				
						<h3>On Fan Service: {{show.get_fan_service_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.fan_service show.fan_levels%}
						</div>
					
					
					
					<a data-toggle="collapse" href="#sex_ratings_extras" class="collapsible">See more ratings</a>
					<div id = "sex_ratings_extras" class = "collapse">
						<hr>
		<!--------------------------------------intimacy rating------------------------------------------------------>
						<h3>On Screen Intimacy: {{show.get_on_screen_intimacy_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.on_screen_intimacy show.osi_levels%}
						</div>

		<!--------------------------------------intent rating------------------------------------------------------>
						<h3>On Sexual intent: {{show.get_sexual_intent_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.sexual_intent show.si_levels%}
						</div>
					</div>		
				</div>

				<div id = "violence_ratings" class="rating_box bg_lightred">
	<!--=========================================================================================================>
	<!--------------------------------------violence rating------------------------------------------------->
					<h3>On Screen Violence: {{show.get_violence_display}}</h3>
					<div style = "width: 100%">
						{% display_rating show.violence show.osv_levels %}
					</div>
					<a data-toggle="collapse" href="#violence_ratings_extras"class="collapsible">See more ratings</a>

					<div id="violence_ratings_extras" class = "collapse">
					<hr>
	<!--------------------------------------gore rating------------------------------------------------->
						<h3>On Screen Gore: {{show.get_gore_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.gore show.gore_levels %}
						</div>

			<!--------------------------------------morbid rating------------------------------------------------->
						<h3>morbid images: {{show.get_morbid_images_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.morbid_images show.mi_levels %}
						</div>
					</div>
				</div>


				<div id = "other_ratings" class = "rating_box bg_lightblue">
	<!--=========================================================================================================>
		<!--------------------------------------feels rating------------------------------------------------->
					<h3>emotional challange: {{show.get_feels_display}}</h3>
					<div style = "width: 100%">
						{% display_rating show.feels show.emotional_challenge %}
					</div>
					<a data-toggle="collapse" href="#other_ratings_extras"class="collapsible">See more ratings</a>

					<div id = "other_ratings_extras" class = "collapse">
					<hr>
		<!--------------------------------------feels rating------------------------------------------------->
						<h3>Profanity: {{show.get_profanity_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.profanity show.swares %}
						</div>

			<!--------------------------------------feels rating------------------------------------------------->
						<h3>moral ambiguity: {{show.get_moral_ambiguity_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.moral_ambiguity show.ma_levels %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<script>
function showNewList()
{
	var nl_form = document.getElementById("new_list");
	var ls_form = document.getElementById("frm_list_add");
	
//	nl_form.style.display = "inline";
	if(nl_form.classList.contains("hidden"))
	{
		nl_form.classList.remove("hidden");
		ls_form.classList.add("hidden");
	}
}
function hideNewList()
{
	var nl_form = document.getElementById("new_list");
	var ls_form = document.getElementById("frm_list_add");
	//nl_form.style.display = "none";
	nl_form.classList.add("hidden");
	if(ls_form.classList.contains("hidden"))
	{
		ls_form.classList.remove("hidden");
	}
}

function checkNewList()
{
	var slt_lists = document.getElementById("slt_lists");
	var curr_value = slt_lists.value;
	if(curr_value == "new list")
	{
		showNewList();
		return false;
	}
	return true;
}
</script>
{% endblock %}

