{% extends "wsidebar.html" %}

{% load rating_tags %}


{% block main %}
<div class="col-xs-9">
	<div class = "row">
		<div class = "col-sm-3" >
			<img src = '{{ show.image.url }}'  width = "100%" align = "left">
			<a href="{% url 'all_shows' %}">Back to shows</a>     <!-------------------back to home------------------>
		</div>
		<div class = "col-sm-9">
			<h3>{{ show.english_title|capfirst }}: </h3>
			<p>{{show.description}}</p>

			<h3> episodes: {{show.total_episodes}}</h3>
			<h3>ongoing:
			{%if show.ongoing %}
				yes
			{%else%}
				no
				{% endif %}
			</h3>
		</div>
	</div>

	<div class="row" >

		<table style="border-collapse: separate;">
		<tr>
			<th><h3>tags:</h3></th>
		<form id="search_form" action = "/search_results/" method = "POST">{% csrf_token %}

			{% for tag in show.tags.all%}
				<th style="padding:0px 5px;"><div class="tag_box" > <button class="btn_tag" type="submit" name="cb_tags" value="{{tag.id}}">{{tag}}</button></div></th>
			{% endfor %}
		</tr>

		<tr>
			<th><h3>genres:</h3></th>
			{% for genre in show.genres.all%}
				<th style="padding:0px 5px;"><div class="genre_box" > <button class="btn_tag" type="submit" name="cb_genres" value="{{genre.id}}">{{genre}}</button></div></th>
			{% endfor %}
			
		</form>
		</tr>
		</table>

		<h3>Series Viewing Order</h3>

		<div style="display: flex;">
			{% display_series show.series show.id%}
		</div>
		<br>

	</div>

	<div class = "row">

		<div class ="col-sm-12">
			<div class = "show_param">
				<div id="sex_ratings" class = "rating_box bg_lightpurple">
	<!--------------------------------------nudity rating------------------------------------------------->
					<h3>nudity : {{show.get_nudity_display}}</h3>
					<div style = "width: 100%">
						{% display_rating show.nudity show.n_choices%}
					</div>
	<!--------------------------------------fan service rating------------------------------------------------------>				
						<h3>On Fan Service: {{show.get_fan_service_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.fan_service show.fan_levels%}
						</div>
					
					
					
					<a data-toggle="collapse" href="#sex_ratings_extras" class="collapsible">See more ratings</a>
					<div id = "sex_ratings_extras" class = "collapse">
						<hr>
		<!--------------------------------------intimacy rating------------------------------------------------------>
						<h3>On Screen Intimacy: {{show.get_on_screen_intimacy_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.on_screen_intimacy show.osi_levels%}
						</div>

		<!--------------------------------------intent rating------------------------------------------------------>
						<h3>On Sexual intent: {{show.get_sexual_intent_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.sexual_intent show.si_levels%}
						</div>
					</div>		
				</div>

				<div id = "violence_ratings" class="rating_box bg_lightred">
	<!--=========================================================================================================>
	<!--------------------------------------violence rating------------------------------------------------->
					<h3>On Screen Violence: {{show.get_violence_display}}</h3>
					<div style = "width: 100%">
						{% display_rating show.violence show.osv_levels %}
					</div>
					<a data-toggle="collapse" href="#violence_ratings_extras"class="collapsible">See more ratings</a>

					<div id="violence_ratings_extras" class = "collapse">
					<hr>
	<!--------------------------------------gore rating------------------------------------------------->
						<h3>On Screen Gore: {{show.get_gore_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.gore show.gore_levels %}
						</div>

			<!--------------------------------------morbid rating------------------------------------------------->
						<h3>morbid images: {{show.get_morbid_images_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.morbid_images show.mi_levels %}
						</div>
					</div>
				</div>


				<div id = "other_ratings" class = "rating_box bg_lightblue">
	<!--=========================================================================================================>
		<!--------------------------------------feels rating------------------------------------------------->
					<h3>emotional challange: {{show.get_feels_display}}</h3>
					<div style = "width: 100%">
						{% display_rating show.feels show.emotional_challenge %}
					</div>
					<a data-toggle="collapse" href="#other_ratings_extras"class="collapsible">See more ratings</a>

					<div id = "other_ratings_extras" class = "collapse">
					<hr>
		<!--------------------------------------feels rating------------------------------------------------->
						<h3>Profanity: {{show.get_profanity_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.profanity show.swares %}
						</div>

			<!--------------------------------------feels rating------------------------------------------------->
						<h3>moral ambiguity: {{show.get_moral_ambiguity_display}}</h3>
						<div style = "width: 100%">
							{% display_rating show.moral_ambiguity show.ma_levels %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}

